@using BlazorJanken.Components.Enums
@using BlazorJanken.Components.Models
@using System.Text
@using Microsoft.Extensions.Primitives
<div class="@(DivClassColor())" style="font-size: large">@(DivInnerText())</div>

@code {

    [Parameter]
    public RoundResult RoundResult { get; set; }

    private string DivClassColor()
    {
        return RoundResult.State switch
        {
            GameState.Win => "alert alert-success",
            GameState.Loss => "alert alert-danger",
            _ => "alert alert-secondary"
        };
    }

    private string DivInnerText()
    {
        return new StringBuilder()
            .Append(StateStatus())
            .Append($"{RoundResult.Player.ToEmoji()} vs {RoundResult.Computer.ToEmoji()}")
            .ToString();
    }

    private string StateStatus()
    {
        return RoundResult.State switch
        {
            GameState.Win => "Player wins ",
            GameState.Loss => "Player losses ",
            _ => "It's a draw "
        };
    }


}